body {
background-color: #F7CCD1;
background-repeat: no-repeat;
background-size: cover;

}


.card1{
background-color: #A3DEE8;
}

.card2 {
  background-color: #F2E9D3;
}





.cart {
  min-height: 15%;
}

img {
  height: 30vh;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

text{
  size: 50px;
}